<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Email confirmation | HealthKeep</title>
        <style>
            body {
                background-color: #f7f7f7;
                font-family: 'Roboto', sans-serif;
                margin: 0;
                padding: 0;
            }

            .container {
                max-width: 800px;
                margin: 30px auto;
                padding: 40px;
                background-color: #ffffff;
                border: 1px solid #ddd;
                text-align: left;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
                border-radius: 5px;
            }

            .button {
                display: inline-block;
                padding: 10px 20px;
                margin: 20px 0;
                background-color: #26c6da;
                color: #ffffff;
                text-decoration: none;
                border-radius: 5px;
                font-weight: bold;
            }

            .footer {
                font-size: 12px;
                color: #777777;
                margin-top: 20px;
            }

            .header {
                font-weight: bold;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <img src="<%= logo %>" alt="Logo" style="height: 100px; margin: 0 auto 20px; display: block" />
            <h1 class="header">You're almost there!</h1>
            <p>Hello, <%= name %>:</p>
            <p>Thank you for registring as an organization on <%= appName %>. Click on the link below to continue the process.</p>
            <a href="<%= url %>" class="button">Confirm email</a>
            <p class="footer">If this was not requested it by you, please ignore this email.</p>
            <p class="footer"><%= appName %></p>
        </div>
    </body>
</html>
